@media all and (max-width: 670px) {
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: center;
      padding: 87mm 0 59mm 0;
      margin-right: 
  }
  
  .header-left {
  float: left;
}

.header-right {
  float: center;
  margin-right: -25px;
  opacity: 0.7;
}
  .menu-icon {
    display: block;
  }
  .top-wrapper h1 {            
    font-size: 24px;            
    line-height: 36px;            
  }            
  .top-wrapper p {            
    font-size: 14px;            
    line-height: 20px;            
  }
  .lesson {
    width: 100%;
  }
  footer {
    text-align: right;
  }
@media all and (max-width: 670px) {
  
  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: center;
      padding: 87mm 0 59mm 0;
      margin-right: 
  }
  
  .header-left {
  float: left;
}

.header-right {
  float: center;
  margin-right: -25px;
  opacity: 0.7;
}
  .menu-icon {
    display: block;
  }
  .top-wrapper h1 {            
    font-size: 24px;            
    line-height: 36px;            
  }            
  .top-wrapper p {            
    font-size: 14px;            
    line-height: 20px;            
  }
  .lesson {
    width: 100%;
  }
  footer {
    text-align: right;
  }
@media all and (max-width: 670px) {
    .mempelai img {
        width: 300px;
    }


    .lokasi { 
        float: center;
        font-weight: bold;
        background: #D5F5E3;
        color: black;
        padding: 15px 100px;
        border-radius: 99px;
        display: inline-block;
        transition: all 0.3s;
        opacity: 0.2;
        margin: auto;
    }

    .lokasi:hover {
        font-weight: bold;
        cursor: pointer;
        background: #239B56;
        color: #F5F9F9;
        opacity: 9;
    }


    .kata2 p {
       color: #F4D03F;
       margin: auto;
       font-weight:bold;
    }

    .kata2-2 p {
       color: #F4D03F;
       margin: auto;
       font-weight:bold;
    }


}


